.articleItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 492px;
  padding: 12px;
  gap: 26px;
  background-color: #d1e0d8;
  border-radius: 32px;
  font-family: var(--font-family);
}

.articleItem__image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 232px;
  border-radius: 24px;
  overflow: hidden;
}

.articleItem__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.articleItem__content {
  min-height: 142px;
}

.articleItem__userName {
  font-weight: 700;
  line-height: 22px;
}

.articleItem__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articleItem__description {
  line-height: 155%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articleItem__buttons {
  display: flex;
  gap: 8px;
  width: 100%;
}

.articleItem__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #374f42;
  border-radius: 64px;
  font-weight: 700;
  color: var(--green-darker);
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.articleItem__button:hover,
.articleItem__button:focus {
  background-color: var(--white);
}

.icon {
  fill: currentColor;
  display: block;
}

.articleItem .edit {
  max-width: 40px;
  height: 40px;
  background-color: var(--light-green);
  transition: background-color 0.2s ease;
}

.articleItem .edit:hover,
.articleItem .edit:focus {
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .articleItem {
    max-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .articleItem {
    max-width: 392px;
  }
}
