.article {
  padding-top: 48px;
  padding-bottom: 48px;
}

.container {
  width: 100%;
  max-width: 393px;
  margin-inline: auto;
  padding-inline: 16px;
}

.title {
  margin-bottom: 32px;
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.image {
  width: 100%;
  height: 205px;
  border-radius: 16px;
  object-fit: cover;
}

.contentLayout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.description {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.description br {
  display: block;
  content: "";
  margin-bottom: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }

  .title {
    font-size: 40px;
    line-height: 1.2;
  }

  .image {
    height: 340px;
    border-radius: 24px;
  }

  .description {
    font-size: 16px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-inline: 107.5px;
  }

  .image {
    height: 624px;
  }

  .contentLayout {
    display: grid;
    grid-template-columns: minmax(0, 808px) 392px;
    gap: 24px;
    align-items: start;
  }
}
