.saveButtonIcon {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--green-darker);
  background-color: transparent;
  color: var(--green-darker);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.saveButtonIcon:hover,
.saveButtonIcon:focus {
  background-color: var(--white);
}

.saveButtonFull {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 64px;
  background-color: var(--green);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.saveButtonFull > span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.saveButtonIcon > span {
  display: inline-flex;
  align-items: center;
}

.saveButtonIcon.saveButtonIcon:hover:not(:disabled),
.saveButtonIcon.saveButtonIcon:focus-visible {
  background-color: var(--white);
}

.bookmarkIcon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: none;
}

.bookmarkIconSaved {
  fill: currentColor;
}
